# Spring properties
spring:
  application:
    name: STATISTICS-SERVICE

# HTTP
server:
  port: 8082

# Cloud
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

# Swagger
springdoc.swagger-ui.path: "swagger.html"